

.img, img2 {
    transform: translateX(0);
}
@keyframes moveImages {
    0% {
        transform: translateX(0);
    }

    2.5% {
        transform: translateX(0);
    }

    92.5% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
}

.moving-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: moveImages 40s infinite; /* Puedes ajustar la duración y la repetición según tus preferencias */
}
