span {
    margin-right: 50px; 
   
}
.Text, .Text2 {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.pokemon-number {
    display: inline-block;
}

.ColorTablaDetalle {
    background-color: #FDEDEC;
}

.material-symbols-outlined {
    margin-top: 50px;
    align-self: flex-start;
}
.ColorTable {
    background-color: #ECF0F1;
}
.imag2 {
    margin-top: -90px;
    background-size: cover;
}



