<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <div class="tabla-cartas">

        @{
            ViewData["Title"] = "Home Page";
            string[] palos = { "Oro", "Bastos", "Espadas", "Copas" };
            mostrarCartas(palos);
        }
    </div>
    

    @{
        <!-- Crea un método que te muestre todas las cartas de la baraja -->
  
        void mostrarCartas(string[] palos)
        {
            @for (int numero = 1; numero <= 10; numero++)
            {
                <div class="fila">
                    @foreach (var palo in palos)
                    {
                        var control = $"img\\{numero}{palo}.jpg";
                        <div class="carta">
                            <img src="@control" alt="Carta" />
                        </div>
                    }
                </div>
            }
        }
    }

</body>
</html>


