html {
    font-size: 16px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }


    table {
        border-radius: 15px;
        table-layout: fixed;
        background-color: darkgreen;
        margin: 0 auto;
        margin-top: 5%;
    }

    .carta {
        width: 100px;
        height: auto;
    }

        .carta img {
            width: 100%;
            padding: 6px;
            padding-bottom: 10px;
            padding-top: 10px;
        }

    .nombre-palo {
        width: auto;
        height: 20px;
        transform: rotate(-90deg); /* Rota el texto diagonalmente */
        white-space: nowrap; /* Evita que el texto se divida en varias líneas */
        position: relative; /*posicion normal*/
        font-family: Arial;
        color: #ffffff;
    }
