 @model Amazon_Montecastelo.Database.Models.Productos

@{
    ViewData["Title"] = "Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <link rel="stylesheet" href="site.css">
}




<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5 mt-5">
            <h1 class="text-center font-weight-light">Agregar un producto</h1>

            <form asp-action="Create" class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ProductoID" class="control-label"></label>
                    <input asp-for="ProductoID" class="form-control" />
                    <span asp-validation-for="ProductoID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <button type="submit" class="btn btn-primary mx-auto">Añadir el producto</button>
            </div>
        </form>
            <div>
                <a asp-action="Producto">Back to List</a>
            </div>
    </div>
</div>


</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 