<div class="text-center">

    @{
        Random random = new Random();

        //Declaro un Array  de numero aleatoria entre 3 y 10.
        int numeroLongitud = random.Next(3, 11);

        int[] Array = new int[numeroLongitud];

        //Se inicia un bucle que itera sobre el arreglo Array y genero un Array aleatoria entre 1 y 100
        for (int i = 0; i < Array.Length; i++)
        {
            Array[i] = random.Next(1, 101);
        }

        //Oderno los elementos de Array
        Array = Array.OrderBy(x => x).ToArray();

        //Muestro el Array ordenados.
        <h3>Array ordenados de menor a mayor:</h3>

        foreach (int numero in Array)
        {
            <a>[@numero]</a>
        }

    }

</div>

