@{
    ViewData["Title"] = "Home Page";
}

<a asp-controller="Pokemon" asp-action="ListaEquipo" asp-route-type="aleatorio">Ver Equipo Aleatorio</a>
<a asp-controller="Pokemon" asp-action="ListaEquipo">Ver Equipo </a>