@using Boletin_Ejercicio_5.DataBase.Models;


@{
    ViewData["Title"] = "ListaFabricante";

   
}
<a asp-action="Create">Create New</a>

<h1>ListaFabricante</h1>

<p class="mt-5">
    Una vista parcial en ASP.NET MVC es una porción reutilizable de una vista que puede ser renderizada en otras vistas o páginas.
    Permite dividir una vista en partes más pequeñas y modulares, lo que facilita el mantenimiento y la reutilización del código.
</p>

@Html.Partial("_ListaFabricante")

