<div class="text-center">
    @{
        double sumaNota = 0;

        Random rando = new Random();
        int cantidaDeNota = rando.Next(0, 11);
        double[] notasAlumno = new double[cantidaDeNota];
        <h5>Notas del Alumno:</h5>

        notasAletorio(cantidaDeNota, notasAlumno, rando);

        foreach (double nota in notasAlumno)
        {
            sumaNota += nota;
        }
    }

    @{

        double promedio = Math.Round(sumaNota / cantidaDeNota, 1);
    }
    <h5>Promedio de Notas: @promedio </h5>
    @if (notasAlumno.Any())
    {
        <h5>Nota Máxima: @notasAlumno.Max().ToString("F2")</h5>
    }
    else
    {
        <h5>No hay notas disponibles.</h5>
    }
    @if (notasAlumno.Any())
    {
        <h5> Nota Mínima: @notasAlumno.Min().ToString("F2")</h5>
    }
    else
    {
        <h5> No hay notas disponibles.</h5>
    }

    @functions {
        void notasAletorio(int cantidaDeNota, double[] notasAlumno, Random rando)
        {

            for (int i = 0; i < cantidaDeNota; i++)
            {
                notasAlumno[i] = rando.NextDouble() * 10;

            }
            int numero = 0;
            @foreach (double nota in notasAlumno)
            {
                numero++;

                <h5>Nota  @numero  : @nota.ToString("F2")</h5>

            }

        }
    }

</div>


