<div class="text-center">
    @using System.Data;
    <!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="styles.css">

    </head>

    <body>

        <div>


            @{
                List<string> palos = new List<string> { "Oro", "Bastos", "Espadas", "Copas" };
                ViewData["Title"] = "Home Page";
                mostrarTodasCartas(palos);
            }



        @{
            void mostrarTodasCartas(List<string> palos)
            {
                <h1>Cartas Original</h1>
                <table>
                    @foreach (var palo in palos)
                    {
                        <tr class="fila">
                            <td class="nombre-palo">@palo</td>
                            @foreach (var numero in Enumerable.Range(1, 10))
                            {
                                var control = $"Img\\{numero}{palo}.jpg";
                                <td class="carta">
                                    <img src="@control" alt="Carta" />
                                </td>
                            }
                        </tr>

                    }
                </table>
                <br />
            }

        }
       
            @{
                <h1>Mostrar cartas </h1>
                <input type="text" id="nombreCarta" required />
                <button id="mostrarCartaBtn" style="background-color: #4CAF50;">Mostrar Carta</button>

                <br />
                <div id="carta-container">
                    <h3 id="formatoCartaResultado"></h3>
                    <img id="imagenCartaResultado" src="" alt="">
                </div>
            
            <script>
                document.getElementById('mostrarCartaBtn').addEventListener('click', function () {
                    var nombreCarta = document.getElementById("nombreCarta").value.toLowerCase();

                    // Hacer una solicitud al controlador para obtener la ruta de la imagen
                    fetch(`/Home/ObtenerCartaPorNombre?nombreCarta=${nombreCarta}`)
                        .then(response => response.json())
                        .then(rutaImagen => {
                            // Actualizar la imagen de la carta en el contenedor
                            document.getElementById('imagenCartaResultado').src = rutaImagen;

                           
                        })
                        .catch(error => console.error('Error:', error));
                });
            </script>
            }
            @{
                <h1>Mostrar cartas aletoria </h1>

                <button id="ObtenerCartaAleatoria" style="background-color: #4CAF50;">Mostrar Carta</button>

                <br />
                <div id="carta-container">
                    <h3 id="formatoCartaResultado"></h3>
                    <img id="imagenCarta" src="" alt="">
                </div>

                <script>
                    document.getElementById('ObtenerCartaAleatoria').addEventListener('click', function () {
                        // Hacer una solicitud al controlador para obtener la carta aleatoria
                        fetch('/Home/ObtenerCartaAleatoria')
                            .then(response => response.text())
                            .then(cartaImagen => {
                                // Actualizar la imagen de la carta en el contenedor
                                document.getElementById('imagenCarta').src = cartaImagen;
                            })
                            .catch(error => console.error('Error:', error));
                    });
                </script>
            }


    </body>
</html>
</div>


