@model List<ShoppingCartItem>

<h2>Carrito de Compras</h2>

<table>
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Quantity</td>
            </tr>
        }
    </tbody>
</table>