
@model IEnumerable<Boletin_Ejercicio_5.DataBase.Models.Fabricante>

    @{

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    }
<table class="table table-striped table-hover">
    <thead class="table-dark">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>

            </tr>
        }
    </tbody>
</table>
