@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
}
<html>
<body>
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h2 class="text-center font-weight-light my-4"> <i class="fas fa-circle-user"></i></h2></div></i>
                            <div class=" card-body">
                                <form id="loginForm" action="@Url.Action("DoLogin", "Login")" method="post">

                                    <div class="card-header2 form-floating  mb-3">
                                        <i class="fa fa-user"></i>
                                        <input class="form-control" id="inputusername" name="username" type="username" placeholder="Nombre de usuario" />
                                        <label class="usuario" for="Nombre">Nombre de usuario</label>
                                    </div>
                                    <div class="card-header3 form-floating  mb-3">
                                        <i class="fa fa-lock"></i>
                                        <input class="form-control" id="inputpassword" name="password" type="password" placeholder="Contraseña" />
                                        <label class="usuario2" for="password">Contraseña</label>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <button type="submit" class="btn btn-primary ">Iniciar Sesión</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center py-3">
                                <div class="">¿No tienes cuenta? <a href=" ">Registrate</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $('#loginForm').submit(function (event) {
                    event.preventDefault(); // Prevenir el comportamiento de envío normal del formulario
                    // Tu lógica personalizada para manejar la sumisión del formulario aquí
                });
            });
        </script>
    </div>
</body>
</html>