@model List<Ejercicio_1_.Models.FutbolistaViewModel>
@{
    ViewData["Title"] = "Jugadores del Mejor Equipo del Mundo";
}


<h2 style="font-size: 50px">Plantilla del Real Madrid</h2>
<table class="img2">
    <tr>
        <td >
            <img src="@ViewBag.UrlImagen" alt="Descripción de la imagen" /><br />
            <h5>14 Champions</h5><br />
            <h5>35 Ligas</h5>
        </td>
    </tr>
</table>
<table>
   
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
    
    </tr>
    @foreach (var futbolista in Model)
    {
        <tr>
            <td>@futbolista.Nombre</td>
            <td>@futbolista.Apellido</td>
            <td>@futbolista.Edad</td>
           
        </tr>
    }
</table>
