@model LoboGarcesWindarTarea4.Models.SimularCombateViewModel

@{
    ViewData["Title"] = "LucharConMiEquipo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>LucharCon mi equipo</h1>


<div>
    <h3>Mi equipo</h3>
    <!-- Mostrar detalles mi equipo -->
    @foreach (var pokemon in Model.Equipo1.Pokemons)
    {
        <div>
            <p>@pokemon.NombrePokemon</p>
            <!-- Mostrar más detalles del Pokémon si es necesario -->
        </div>
    }
</div>

<div>
    <h3>Mi enemigo</h3>
    <!-- Mostrar detalles del Equipo enemigo -->
    @foreach (var pokemon in Model.Equipo2.Pokemons)
    {
        <div>
            <p>@pokemon.NombrePokemon</p>
            <!-- Mostrar más detalles del Pokémon si es necesario -->
        </div>
    }
</div>

<div>
    <h3>Resultados de la Batalla</h3>
    <!-- Mostrar los resultados de la batalla -->
    <pre>@Html.Raw(Model.ResultadoBatalla)</pre>
</div>