@model LoboGarcesWindarTarea4.Models.SimularCombateViewModel

@{
    ViewData["Title"] = "ResultadosCombate";
    <link rel="stylesheet" href="~/css/ombate.css" asp-append-version="true" />
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">

}

<div class="container text-center rounded-3 mt-5">
    <div class="row flex-column mt-3">
        <h3 class="text-center" style="font-family: 'Cormorant', serif; font-size:40px">Resultados de la Batalla</h3>

        @if (Model.MostrarResultados)
        {
            <pre>@Html.Raw(Model.ResultadoBatalla)</pre>
        }
    </div>
</div>