@model LoboGarcesWindarTarea4.Models.SimularCombateViewModel


@if (Model != null && !string.IsNullOrEmpty(Model.ResultadoCombate))
{
    <div>
        <h2>Resultado del Combate</h2>
        <p>@Model.ResultadoCombate</p>


       
    </div>
}
