
@{
    //Segundo Layout para el login

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/Layout2.css" asp-append-version="true" />

    <script src="~/font-awesome/js/all.min.js"></script>
}

<main>

    @RenderBody()
  
</main>



