@model LoboGarcesWindarTarea3.Database.Models.Estudiante

@{
    ViewData["Title"] = "Detalles";
    <link rel="stylesheet" href="~/css/view.css" asp-append-version="true" />
}
<h1 class="mt-4"> Detalles del estudiante</h1>



<div class="Detalle">
    <div class="nombre">
        @Html.DisplayFor(model => model.Nombre)
    </div>
    <div class="row">
        <div class="col-md-4">

            <p class="mt mt-4">EDAD DEL ALUMNO: @Html.DisplayFor(model => model.Edad)</p>
        </div>
        <div class="col-md-6">
            <p class="mt2  mt-4">CURSO AL QUE PERTENECE: @Html.DisplayFor(model => model.Curso)</p>
        </div>
    </div>
    <img src="/img/ciclos_formativos_montecastelo_logo.jpg" class=" img img-fluid" alt="Logo  Montecastelo">
    <div class="btn-group btn-group-joined d-grid gap-2">
        <button type="button" class="btn btn-secondary  btn-block" onclick="window.location.href=#">¡Los mejores estudiantes!</button>
        <button type="button" class="btn btn-primary btn-block" onclick="window.location.href='@Url.Action("Lista", "Estudiante")'">Volver a la lista </button>
    </div>

</div>



