html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.img-fluid {
    max-width: 60%;
    height: auto;
}
.row {
    width: 100%;
    border: 5px solid #050404;
   
}
.col-md-4 {
    background-color: #294736;
}
h2,h3,h4,p,li{
  color:white;
}