@{
    ViewData["Title"] = "Home Page";
    <link rel="stylesheet" href="~/css/view.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
}

<div class="text-center mt-5">
    <div class="container">
        <h1 class="display-4">Bienvenido al Instituto Montecastelo</h1>
        <h3>Seleccione una opción:</h3>
        <div class="d-flex justify-content-center m-3">
            <form class="mx-3" asp-controller="Asignatura" asp-action="Lista" method="get">
                <button type="submit" class="btn btn-outline-danger">Asignaturas</button>
            </form>

            <form class="mx-3" asp-controller="Estudiante" asp-action="Lista" method="get">
                <button type="submit" class="btn btn-outline-danger">Estudiantes</button>
            </form>

            <form class="mx-3" asp-controller="Profesor" asp-action="Lista" method="get">
                <button type="submit" class="btn btn-outline-danger">Profesores</button>
            </form>
        </div>

    </div>
    <img src="/img/Montecastelo.png" class="img2 img img-fluid" alt="Logo de Montecastelo">
</div>







