
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Instituto</h1>
  
    <h3>Seleccione una opcion:</h3>
        <a asp-controller="Asignatura" asp-action="Lista">Asignaturas</a><br />
    <a asp-controller="Estudiante" asp-action="Lista">Estudiantes</a><br />
    <a asp-controller="Profesor" asp-action="Lista">Profesores</a>
      
    
</div>
