@model MiCurriculumViewModel
@{
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital@1&family=Libre+Bodoni:wght@700&display=swap" rel="stylesheet">
}
<div class="text-center">

    <h2 style="font-size: 50px; font-family: 'Gentium Book Plus', serif;">Bienvenido a mi base de datos de curriculum  </h2><br />
    <img src="@Model.UrlImagenIndex" alt="Minions" style="width:70rem" />
  

</div>