@model MiCurriculumViewModel
@{
            // Link de Fonts:
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital@1&family=Libre+Bodoni:wght@700&display=swap" rel="stylesheet">
}
<!--División del Contenido:-->

<div class="text-center">

   <!-- Título y Imagen :-->
    <h2 style="font-size: 60px; font-family: 'Gentium Book Plus', serif;">Bienvenido a mi base de datos de curriculum  </h2><br />
    <img src="@Model.UrlImagenIndex" alt="Minions" style="width:80rem" />
  

</div>