@{
    ViewData["Title"] = "Inicio";
}


<!-- https://localhost:7037/Home/Ejercicio1?nombre=Windar -->
<!-- https://localhost:7037/Home/Ejercicio1 -->


<div class="text-center">
    <h1 class="display-4">@ViewBag.MensajeBienvenida</h1>
</div>