
body {
    background-image: url('/img/ciclos_formativos_montecastelo_logo.jpg');
    background-size: 90%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;

    justify-content: center;
    align-items: center;
    text-align: center;
 
}
.form-control {
   
    border: 1px solid #9fa8b1;
    
}
.shadow-lg {
    box-shadow: 0 3rem 5rem rgba(11, 9, 9, 0.18) !important;
}

.mt-5 {
    margin-top: 15rem !important;
}
.col{
  
}
.mb-3 {
    margin-bottom: 2rem !important;
}
.h2, h2 {
    
    font-size: 3rem;
    line-height: 1.2;
}
.row {
    --bs-gutter-x: 2rem;
    --bs-gutter-y: 2rem;
}
.card-header {
    padding: 0.5rem 2rem;
    margin-bottom: 4px;
    background-color: rgba(0,0,0,.03);
    border-bottom: 4px solid rgba(0,0,0,.125);
 
}
.btn{
    margin-left:220px;
}
.py-3 {
    padding-top: 2rem !important;
    padding-bottom: 1rem !important;
}
.card-footer {
    padding: .5rem 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(0,0,0,.03);
    border-top: 4px solid rgba(0,0,0,.125);
}
label{
    margin-left:-28rem;

}
.dos {
    margin-left: -32rem;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.5;
    border: 2px solid #9fa8b1;
}