body {
    background-image: url('/img/ciclos_formativos_montecastelo_logo.jpg');
    background-size: 35%;
    background-repeat: no-repeat;
    margin: 0 ;
    color: #1e1515;
}
.text-center {
    color: black;
}

.row {
  
    --bs-gutter-y: 0;
    max-width: 900%;
   
}

.form-control::placeholder, .datatable-input::placeholder {
    color: #6c757d;
    opacity: 0;
}
label {
    display: inline-block;
    margin-left:25px;

}
.form-control {
   
    border: 1px solid #9fa8b1;
    margin-left:8px;
    
}
.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.76) !important;
}
.mt-5 {
    margin-top: 15rem !important;
}

.btn{
    margin-left:200px;
    
}

.form-floating >.form-control::placeholder {
    color: black;
}
.form-floating > .form-control, .form-floating > .datatable-input, .form-floating > .form-control-plaintext {
    height: calc(3.9rem + 3px);
    line-height: 1.25;
}
.card-header, .card-footer {
    background-color: white;

}

@media (min-width: 1200px) {
    .h2, h2 {
        font-size: 5rem;
    }
}

.card-header2 {
    display: flex;
    align-items: center;
    font-size: 22px;

}
.card-header i {
    margin-right: 25%;
}
.card-header3 {
    display: flex;
    align-items: center;
    font-size: 22px;
}

